.home {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.top-image {
  text-align: center;
  margin-bottom: 20px;
}

.top-image img {
  max-width: 100%;
  height: auto;
}


.heading {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.left-content,
.right-content {
  flex: 1;
}

.right-content{
  margin-left: -622px;
}

.left-content h2,
.right-content h2 {
  margin-bottom: 10px;
}

.left-content p,
.right-content p {
  line-height: 1.6;
}


.left-picture,
.right-picture {
  flex: 1;
}

.left-picture img,
.right-picture img {
  max-width: 100%;
  height: auto;
}

.introp{
  color: black;
}

.current-news {
  margin-top: 40px;
}

.current-news h2 {
  text-align: center;
  margin-bottom: 20px;
}

.news-cards {
  display: flex;
  justify-content: space-around;
}

.news-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 250px;
  text-align: center;
}

.news-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.news-card p {
  color: black;
  margin-bottom: 15px;
}

.news-card button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.news-card button:hover {
  background-color: #0056b3;
}
